@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


.order-confirm-content {
    padding: 20px 12px;
    background-color: var(--main-bg);
    border-radius: var(--main-border-radius);
    margin-top: 30px;
    width: 100%;
}